@model List<OrdemServicoItensViewModel>

<div class="table-responsive mt-5">
    <table class="dataTable table table-sm table-bordered text-truncate" data-sem-pesquisa="true">
        <thead>
            <tr>
                <th>Descrição resumida</th>
                <th>Valor</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.DescricaoResumida</td>
                    <td>
                        @if (User.IsInRole("NV3"))
                        {
                            <input type="number" name="Valor" value="@item.Valor" data-id="@item.ServicoOrdemServicoId" />
                        }
                        else
                        {
                            <span>@item.Valor</span>
                        }
                    </td>
                    <td>
                        <i class="fa fa-minus-circle remover-servico-os" aria-hidden="true" data-id="@item.ServicoOrdemServicoId"></i>
                        @if (User.IsInRole("NV3"))
                        {
                            <i class="fa fa-check-circle atualizar-servico-os" aria-hidden="true" data-id="@item.ServicoOrdemServicoId"></i>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
