@model List<UsuarioGridViewModel>

<div class="table-responsive mt-5">
    <table class="dataTable table table-sm table-bordered text-truncate" data-sem-pesquisa="true">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Situação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a asp-action="editar" asp-controller="usuarios" asp-route-id="@item.UsuarioId">@item.NomeCompleto</a></td>
                    <td>@item.Email</td>
                    <td data-situacao="@item.Situacao"><span>@item.Situacao</span></td>
                </tr>
            }
        </tbody>
    </table>
</div>
