@using tcc.web.Models.API;
@model List<OrcamentoGridViewModel>

<div class="table-responsive mt-5">
    <table class="dataTable table table-sm table-bordered text-truncate" data-sem-pesquisa="true" id="tbOS">
        <thead>
            <tr>
                <th>Número do orçamento</th>
                <th>Cliente</th>
                <th>Placa</th>
                <th>Marca</th>
                <th>Data previsão</th>
                <th>Valor</th>
                <th>Status</th>
                <th>OS</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a asp-action="carregareditar" asp-controller="orcamento" asp-route-id="@item.OrcamentoId">@item.OrcamentoId</a></td>
                    <td>@item.NomeCliente</td>
                    <td>@item.PlacaVeiculo</td>
                    <td>@item.Marca</td>
                    <td>@item.DataPrevisao</td>
                    <td>@item.ValorOrcamento</td>
                    <td data-situacao="@item.Situacao"><span>@item.SituacaoDescricao</span></td>
                    @if (item.OrdemServicoId.HasValue)
                    {
                        <td><a asp-action="carregareditar" asp-controller="ordemservico" asp-route-id="@item.OrdemServicoId.Value">@item.OrdemServicoId.Value</a></td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
